@font-face {
    font-family: "one piece";
    src: url("../font/one\ piece\ font.ttf") format("truetype");
}

body {
    background-color: #051f34;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.jeu {
    background-color: #027495;
    min-width: 400px;
    max-width: 900px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 50px 100px rgba(255, 255, 255, 0.048);
}

.gTitre {
    font-family: "one piece";
    font-weight: bold;
    font-size: 100px;
    padding: 0px;
    margin: 0;
    text-align: center;
    color: #f4f5f5;
}

.titre {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4f5f5;
}

.para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px 0px;
    padding: 10px 90px;
    text-align: center;
    color: #f4f5f5;
    width: 640px;
    text-align: left;
}

.logo {
    display: flex;
    margin: 0;
    max-width: 700px;
}

.bouton {
    width: 640px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btn {
    width: 150px;
    height: 50px;
    font-size: larger;
    background-color: #01a9c1;
    color: #bad6db;
}

#btn:hover {
    background-color: #333333;
    color: #ffffff;
}

/*
Couleur de fond du site : #051f34 

Couleur de fond du contenu : #027495

Couleur de la police : #f4f5f5 

Couleur de fond des boutons : #bad6db 

Couleur de fond des boutons en hover : #333333 

Couleur de la police des boutons : #01a9c1 

Couleur de la police des boutons en hover: #ffffff
*/